@{
    ViewBag.Title = "Details.cshtml";
}

<h2>Details.cshtml</h2>


@Html.ActionLink("Home", MVC.Home.Index())
@Html.ActionLink("Details1", MVC.Home.Details(1))
@Html.ActionLink("Details2", MVC.Home.Details(2))